footer {
  position: relative;
  bottom: 0;
  width: 100%;
  font-weight: 300;
  height: 80px;
  background: linear-gradient(
    to bottom right,
    $purple_fade_1 0%,
    $teal_fade_1 75%,
    $green_fade_1 100%
  );
  .copyright {
    font-size: 12px;
  }
}
