.form-wrapper {
  margin: 24px 0;

  form {
    margin-top: 32px;
  }

  .form-link-wrapper {
    margin-top: 32px;
  }

  .dropdown-wrapper {
    display: flex;
    justify-content: center;

    .button-state-select {
      cursor: pointer;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 100;
      max-height: 25vh;
      overflow: scroll;
      cursor: pointer;
      a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      &.open {
        display: inline-block;
        align-self: flex-start;
        margin-top: 54px;

        .dropbtn {
          background-color: #3e8e41;
        }
      }
    }
  }
}
