@import "./variables.scss";

@import "./button.scss";
@import "./form.scss";
@import "./footer.scss";
@import "./jumbo.scss";

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,500");

* {
  min-width: 0;
  font-family: "Lato", sans-serif;
}

.flex {
  display: flex;
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.column {
    flex-direction: column;
  }
  &.end {
    justify-content: flex-end;
  }

  .flex-start {
    align-self: flex-start;
  }
}
nav.navbar {
  .navbar-toggler {
    cursor: pointer;
    .navbar-toggler-icon {
      transition: all 0.25s;
    }
    &.open {
      .navbar-toggler-icon {
        transform: rotate(90deg);
      }
    }
    + .navbar-brand {
      color: $pink_fade_2;
      width: 80px;
    }
  }
  .navbar-nav {
    .nav-item {
      padding-right: 16px;
      cursor: pointer;
      &.nav-link.active {
        color: $blue_fade_2;
      }
    }
    &.right {
      right: 0;
      position: fixed;
      align-self: center;
    }
  }
}

.section-content {
  min-height: calc(50vh - 140px);
  .button-group {
    button {
      margin: 0 16px;
    }
  }
  .btn-lg {
    width: 240px;
    border-radius: 0;
  }

  .content {
    margin: 32px 0;
    * {
      font-weight: 300;
    }
  }
}

.submit-success {
  text-align: center;
}

@media all and (max-width: 990px) {
  .navbar-collapse {
    padding-top: 8px;
    .navbar-nav {
      width: 100%;
      .nav-item {
        background-color: #f7f7f7;
        width: 100%;
        text-align: right;
      }
    }
  }
}
