@import "./variables.scss";
@import "./button.scss";
@import "./jumbo.scss";

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,500");

* {
  min-width: 0;
  font-family: "Lato", sans-serif;
}

.flex {
  display: flex;
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.column {
    flex-direction: column;
  }
  &.end {
    justify-content: flex-end;
  }

  .flex-start {
    align-self: flex-start;
  }
}

.content {
  margin: 32px 0;
  * {
    font-weight: 300;
  }
}
