// Colors
$green_fade_1: #55efc4;
$green_fade_2: #00b894;
$teal_fade_1: #81ecec;
$teal_fade_2: #00cec9;
$blue_fade_1: #74b9ff;
$blue_fade_2: #0984e3;
$purple_fade_1: #a29bfe;
$purple_fade_2: #6c5ce7;
$yellow_fade_1: #ffeaa7;
$yellow_fade_2: #fdcb6e;
$orange_fade_1: #fab1a0;
$orange_fade_2: #e17055;
$red_fade_1: #ff7675;
$red_fade_2: #d63031;
$pink_fade_1: #fd79a8;
$pink_fade_2: #e84393;
$gray_1: #dfe6e9;
$gray_2: #b2bec3;
$gray_3: #636e72;
$gray_4: #2d3436;
